name: Build

on:
  push:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  release:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            name: Build Linux
          - os: windows-latest
            name: Build Windows
          - os: macos-latest
            name: Build MacOS

    name: ${{ matrix.name }}
    runs-on: '${{ matrix.os }}'
    environment: production

    env:
      CARGO_INCREMENTAL: 0
      cache-key: "cargo-cache"

    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: cargo build --release --verbose
  
  publish:
    runs-on: ubuntu-latest
    name: Publish Blue Engine to crates.io

    steps:
      - uses: actions/checkout@v4
      - name: publish
        run: |
          cd crates/blue_engine_core && cargo publish --allow-dirty
          cd crates/blue_engine_dynamic && cargo publish --allow-dirty
          cargo publish --allow-dirty
          cd crates/blue_engine_utilities && cargo publish --allow-dirty