name: Release

on:
  release:
    types: [created]


jobs:
  publish:
    runs-on: ubuntu-latest
    name: Publish Blue Engine to crates.io

    steps:
      - uses: actions/checkout@v4
      - name: publish
        run: |
          cd crates/blue_engine_core && cargo publish --allow-dirty --token ${{ secrets.CRATES_IO_TOKEN }}
          cd crates/blue_engine_dynamic && cargo publish --allow-dirty --token ${{ secrets.CRATES_IO_TOKEN }}
          cargo publish --allow-dirty --token ${{ secrets.CRATES_IO_TOKEN }}
          cd crates/blue_engine_utilities && cargo publish --allow-dirty --token ${{ secrets.CRATES_IO_TOKEN }}